.wrapper-top {
  @include flex-center();

  .nav-top {
    // background-color: $navy;
    color: $white;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 15vh;
    background-image: url('../assets/NoteNest-banner.png');
    background-position: center;
    background-size:cover;

    .site-title {
      font-size: 3rem;
      margin-left: 40%;
    }
  
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
    a {
      color: inherit;
      text-decoration: none;
      height: 100%;
      padding: .25rem;
      margin-left: auto;
    }
  
  //   .nav-top li.active {
  //     border-radius: 40%;
  //     background-color: rgb(147, 147, 171);
  //   }
  //   .navLi:hover {
  //     background-color: rgb(211, 180, 42);
  //   }
  
  }
}


.search-wrapper {
    display: flex;
    justify-content: space-between;
    .search {
        height: 2rem;
        width: 20%;
        border-radius: 10%;
        box-shadow: 0px 0px 8px rgb(25, 13, 15);
        margin-left: auto;
      
        &:focus {
          outline: none;
        }
      }
}


.nav-side {
  float: left;
  position: relative;
  color: inherit;
  top: 0;
  left: 0;
  background: transparent;

  ul {
 
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 9rem;
      width: 25vh;
      border-radius: 45%;
      gap: 1rem;
      padding: 2rem;
      cursor: pointer;
      opacity: 90%;
      box-shadow: 0px 0px 5px $navy;
      @include flex-center();
      // color: $white;
      // &:hover {
      //   animation: myAnim 1s ease 0s 1 normal forwards;
      // }
      // @keyframes myAnim {
      //   0% {
      //       transform: translateX(0);
      //   }
    
      //   100% {
      //       transform: translateX(100px);
      //   }
      // }

      &:after {
        position: absolute;
        background: white;
        color: #090e0b;
        opacity: 1;
      }

      &:nth-child(1) {
        content: "Create";
        line-height: 88px;
        background: $yellow;
      }
      &:nth-child(2) {
        content: "Tags";
        line-height: 88px;
        background: $lightGreen;
      }
      &:nth-child(3) {
        content: "Files";
        line-height: 85px;
        background: $midBlue;
      }
      &:nth-child(4) {
        content: "Nests";
        line-height: 70px;
        background: $plum;
      }

    }
  }

}

