// @import 'https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Prata&display=swap'
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Prata&display=swap');

$fonts: 'Prata', serif, 'Manrope', sans-serif;

$prata: 'Prata', serif;
$manrope: 'Manrope', sans-serif;

$yellow: #efcb19;
$orange: #ef9d19;
$pink: #ef196f;
$lightGreen: #01efac;
$midGreen: #01cbae;
$midBlue: #2082A6;
$bluePurple: #524094;
$purple: #562A83;
$plum: #ae1079;
$navy: #050c26;
$white: #f6f2f7;
$darkBackground: #13171a;

$spacing: 2rem;

