@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Prata&display=swap");
#splashMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/splash-curved.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
#splashMain .enterB {
  background-color: #FFD700;
  padding: 10px 20px;
  color: #f6f2f7;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.wrapper-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-top .nav-top {
  color: #f6f2f7;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.wrapper-top .nav-top .site-title {
  font-size: 3rem;
}
.wrapper-top .nav-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper-top .nav-top a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding: 0.25rem;
  margin-left: auto;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}
.search-wrapper .search {
  height: 2rem;
  width: 20%;
  border-radius: 10%;
  box-shadow: 0px 0px 8px rgb(25, 13, 15);
  margin-left: auto;
}
.search-wrapper .search:focus {
  outline: none;
}

.nav-side {
  float: left;
  position: relative;
  color: inherit;
  top: 0;
  left: 0;
  background: transparent;
}
.nav-side ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 9rem;
  width: 25vh;
  border-radius: 45%;
  gap: 1rem;
  padding: 2rem;
  cursor: pointer;
  opacity: 90%;
  box-shadow: 0px 0px 5px #050c26;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-side ul li:after {
  position: absolute;
  background: white;
  color: #090e0b;
  opacity: 1;
}
.nav-side ul li:nth-child(1) {
  content: "Create";
  line-height: 88px;
  background: #efcb19;
}
.nav-side ul li:nth-child(2) {
  content: "Tags";
  line-height: 88px;
  background: #01efac;
}
.nav-side ul li:nth-child(3) {
  content: "Files";
  line-height: 85px;
  background: #2082A6;
}
.nav-side ul li:nth-child(4) {
  content: "Nests";
  line-height: 70px;
  background: #780b54;
}

.titleCreateC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
  background-color: black;
  opacity: 70%;
  border-radius: 50%;
}

.formCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  opacity: 70%;
  border-radius: 50%;
}
.formCreate .createC {
  margin: 2rem;
}
.formCreate .submitC {
  margin: 1rem;
  background-color: black;
  opacity: 70%;
  border-radius: 50%;
}
.formCreate .createBtn {
  height: 10vh;
  width: 15vh;
  border-radius: 50%;
}
.formCreate .notesTextArea {
  height: 20vh;
  width: 30vh;
}
.formCreate .labelTextArea {
  gap: 2rem;
}

.titleC {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleC .main-title {
  margin: 2rem;
}

.noteButtonC {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.noteButtonC .noteButton {
  height: 100px;
  width: 100px;
  border-radius: 40%;
  background-color: #f6f2f7;
  border-style: solid;
  border-color: #01efac;
  z-index: 3;
  padding-top: 2rem;
  margin: auto;
}

.currHeadC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh;
}

.currTextC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25vh;
}

.currDeleteC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30vh;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25vh;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prata", serif, "Manrope", sans-serif;
}

:after {
  content: "";
}

body {
  background-color: #13171a;
  padding: 2rem;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Prata", serif;
  font-weight: bold;
}

h4, h5, h6 {
  font-family: "Prata", serif;
  font-weight: lighter;
}

.wrapper-main .main {
  height: 80vh;
  width: 95%;
  margin-left: auto;
  color: #f6f2f7;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  background-image: url("../assets/splash-curved-dim.jpeg");
  background-position: center;
}

.link-sidebar {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f2f7;
  font-size: 2rem;
  text-shadow: 0 0 3px #050c26;
}

.link-notes {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050c26;
}/*# sourceMappingURL=style.css.map */