@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Prata&display=swap");
#splashMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/splash-curved.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
#splashMain .enterB {
  background-color: #FFD700;
  padding: 10px 20px;
  color: #f6f2f7;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.wrapper-top .nav-top {
  color: #f6f2f7;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 15vh;
  border-radius: 30px/20px;
  background-image: url("../assets/NoteNest-banner.png");
  background-position: center;
  background-size: cover;
}
.wrapper-top .nav-top .site-title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: 25%;
}
.wrapper-top .nav-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper-top .nav-top a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding: 0.25rem;
  margin-left: auto;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}
.search-wrapper .search {
  height: 6vh;
  width: 20%;
  border-radius: 30px/20px;
  margin-left: auto;
  border-style: solid;
  border-color: #01efac;
  border-width: 3px;
  box-shadow: 0px 0px 5px #01efac;
}
.search-wrapper .search:focus {
  outline: none;
}

.nav-side {
  float: left;
  position: relative;
  color: inherit;
  top: 0;
  left: 0;
  background: transparent;
}
.nav-side ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 9rem;
  width: 25vh;
  border-radius: 45%;
  gap: 1rem;
  padding: 2rem;
  cursor: pointer;
  opacity: 90%;
  box-shadow: 0px 0px 5px #050c26;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-side ul li:after {
  position: absolute;
  background: white;
  color: #090e0b;
  opacity: 1;
}
.nav-side ul li:nth-child(1) {
  content: "Create";
  line-height: 88px;
  background: #efcb19;
}
.nav-side ul li:nth-child(2) {
  content: "Tags";
  line-height: 88px;
  background: #01efac;
}
.nav-side ul li:nth-child(3) {
  content: "Files";
  line-height: 85px;
  background: #2082A6;
}
.nav-side ul li:nth-child(4) {
  content: "Nests";
  line-height: 70px;
  background: #ae1079;
}

.wrapper-create {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper-create .success {
  background-color: black;
  opacity: 70%;
  border-radius: 30%;
  width: 50vh;
  height: 15vh;
  margin-left: 35%;
  box-shadow: 0px 0px 10px #efcb19;
}

.titleCreateC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
  background-color: black;
  opacity: 90%;
  border-radius: 30px/30px;
  padding: 5px;
  width: 30%;
  margin-left: 35%;
}
.titleCreateC .titleCreate {
  opacity: 100% !important;
  font-size: 2rem;
}

.formCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  opacity: 90%;
  border-radius: 30px/30px;
  width: 50%;
  margin-left: 25%;
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}
.formCreate .noteTitle {
  font-size: 1.4rem;
}
.formCreate .titleInput {
  width: 30vh;
}
.formCreate .createC {
  margin: 2rem;
  opacity: 100% !important;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.formCreate .submitC {
  margin: 1rem;
  background-color: black;
  opacity: 95%;
  border-radius: 50%;
}
.formCreate .createBtn {
  height: 10vh;
  width: 15vh;
  border-radius: 30px/30px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  border-style: solid;
  border-color: #efcb19;
  border-width: 3px;
  box-shadow: 0px 0px 10px #efcb19;
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}
.formCreate .notesTextArea {
  height: 20vh;
  width: 30vh;
}
.formCreate .labelTextArea {
  gap: 2rem;
  font-size: 1.4rem;
  height: 50%;
}

@keyframes myAnim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.titleC {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 90%;
  border-radius: 30px/30px;
  width: 40vh;
  height: 8vh;
  margin-left: 35%;
  margin-top: 5%;
  gap: 2rem;
  margin-bottom: 5%;
  box-shadow: 0px 0px 5px #01efac;
}
.titleC .notesTitle {
  margin: 2rem;
  margin-left: 20%;
  font-size: 1.5rem;
}

.noteButtonC {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}
.noteButtonC .noteButton {
  height: 120px;
  width: 120px;
  border-radius: 40%;
  background-color: #f6f2f7;
  border-style: solid;
  border-color: #01efac;
  border-width: 7px;
  z-index: 3;
  padding: 3%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.noteButtonC .link-notes {
  font-size: 90%;
  color: black;
}

.currHeadC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh;
  margin-left: 39%;
  background-color: black;
  opacity: 90%;
  border-radius: 30px/20px;
  width: 40vh;
  height: 6vh;
}

.currTextC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
  background-color: black;
  opacity: 90%;
  width: 80vh;
  height: 40vh;
  border-radius: 30px/20px;
}

.currDeleteC {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh;
  margin-left: 39%;
  background-color: black;
  opacity: 90%;
  width: 40vh;
  height: 6vh;
  border-radius: 30px/20px;
}
.currDeleteC .deleteNote {
  height: 90%;
  width: 15vh;
  border-radius: 30px/20px;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 20%;
  background-color: black;
  opacity: 90%;
  width: 40vh;
  height: 6vh;
  border-radius: 30px/30px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prata", serif, "Manrope", sans-serif;
}

:after {
  content: "";
}

body {
  background-color: #13171a;
  padding: 2rem;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Prata", serif;
  font-weight: bold;
}

h4, h5, h6 {
  font-family: "Prata", serif;
  font-weight: lighter;
}

.wrapper-main .main {
  height: 80vh;
  width: 95%;
  margin-left: auto;
  margin-top: 0;
  padding: 0;
  color: #f6f2f7;
  background-image: url("../assets/splash-curved-dim.jpeg");
  background-position: center;
  background-size: cover;
}

.link-sidebar {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f2f7;
  font-size: 2rem;
  text-shadow: 0 0 3px #050c26;
}

.link-notes {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050c26;
}/*# sourceMappingURL=style.css.map */