@import './mixins';
@import './variables';
@import './splash';
@import './nav';
@import './create';
@import './notes';
@import './currNote';


*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonts;
  }
  
  :after {
    content: "";
  }

body {
  background-color: $darkBackground;
  padding: $spacing;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: $prata;
  font-weight: bold;
}
h4, h5, h6 {
  font-family: $prata;
  font-weight: lighter;
}

.wrapper-main {

  .main {
    height: 80vh;
    width: 95%;
    margin-left: auto;
    color: $white;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-image: url('../assets/splash-curved-dim.jpeg');
    background-position: center;
  }
}

.link-sidebar{
  text-decoration: none;
  @include flex-center();
  color: $white;
  font-size: 2rem;
  // outline-style: solid;
  // outline-color: black;
  text-shadow: 0 0 3px $navy;
}

.link-notes {
  text-decoration: none;
  @include flex-center();
  color: $navy;
}
